body{
    margin: 0;
}

header{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 511px;
    background-image: url("../img/banner.png");
    background-size: 101%;
    border-top: 8px rgb(128, 255, 0) solid;
}

header > div{
    display: flex; 
/*    align-items: center; */
    flex-direction: column;
    margin-left: 90px;
    padding-top: 123px;
}

.botoes{
    display: flex;
    flex-direction: row;
}

.botoes button{
    width: 43px;
    height: 43px;
    border-radius: 30px;
}

header div h1,p{
    color: #fff;
}

header div h1{
    font-size: 45.1px;
    font-family: 'Pacifico', cursive;
}

header div h1 span{
    color: rgb(128, 255, 0);
}

header img{
    width: 368px;
    height: 439px;
    padding-top: 72px;
    padding-left: 158px;
}